# Database Configuration
# For local PostgreSQL:
# DB_HOST=localhost
# DB_PORT=5432
# DB_USER=postgres
# DB_PASS=your_password_here
# DB_NAME=anycomp_db

# For Supabase PostgreSQL:
DB_HOST=aws-1-ap-south-1.pooler.supabase.com
DB_PORT=6543
DB_USER=postgres.ekjzhlpyzeugbbpzxfcx
DB_PASS=Mflw@pU1330
DB_NAME=postgres
DB_SSL=false

# Application Configuration
APP_PORT=3000
NODE_ENV=development
